language: java
install: mvn install -DskipTests=true -Dmaven.javadoc.skip=true -B
jdk:
  - openjdk7
  - oraclejdk7
  - oraclejdk8
matrix:
  fast_finish: true
notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/endpoint/c6cc872b193cbad86273/529f9078ed5ab0b3bf04ef9a/
before_script:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build
script:
  - mvn cobertura:cobertura -Dsurefire.useFile=false
after_script:
  - if [ "$TRAVIS_PULL_REQUEST" == "false" ]; then ./cc-test-reporter after-build -t cobertura -p "$(pwd)/target/cobertura" --exit-code $TRAVIS_TEST_RESULT; fi
