Usage
=====

### Add the plugin to your project

Adding the plugin to your POM will allow you to use its goals in your build:

    <build>
        <plugins>
           …

           <plugin>
               <groupId>${project.groupId}</groupId>
               <artifactId>${project.artifactId}</artifactId>
               <version>${project.version}</version>
            </plugin>

            …
        </plugins>
    </build>

### Command-line usage

You may also call some of the goals directly from the command-line:

    $ mvn ${project.groupId}:${project.artifactId}:changelog

You can see a list of all available goals [here](../plugin-info.html) or via
the `help` goal:

    $ mvn ${project.groupId}:${project.artifactId}:help
